@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: black;
}

p {
  margin-bottom: 0;
}

.animatedOverflow {
  overflow: hidden !important;
}

.nav-link:hover, .nav-link:focus {
  color: #d8b07b;
}

.listItems {
  border-right: 2px solid black;
}

@media screen and (max-width: 992px) {
  .listItems {
    border: 0;
  }
}
.headerN {
  height: 70vh;
  background-size: cover;
  background-position: right;
}

@media screen and (max-width: 992px) {
  .headerN {
    background-position: center;
  }
  .headerSucursales, .headerContacto {
    background-position: right;
  }
}
.headerGaleria {
  background-image: url(../Assets/Img/Headers/headerGaleria.webp);
}

.headerSucursales {
  background-image: url(../Assets/Img/Headers/headerSucursales.webp);
}

.headerPreguntas {
  background-image: url(../Assets/Img/Headers/headerPreguntas.webp);
}

.headerContacto {
  background-image: url(../Assets/Img/Headers/headerContacto.webp);
}

/* Estilos para el fondo del menú desplegable */
@media screen and (max-width: 991px) {
  .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.187);
  }
  .nav-link {
    color: #ffffff;
  }
}
.headerVideo {
  filter: brightness(85%);
}

.titles {
  color: #d8b07b;
  margin: 100px 100px;
}

.subtitles {
  color: #9c8567;
}

.mTitle {
  color: #d8b07b;
  margin: 25vh 5vh;
}

.textoPrincipalgral {
  box-sizing: content-box;
  border: 5px double #d8b07b;
}
.textoPrincipalgral .parrafoExpl {
  line-height: 2;
}
.textoPrincipalgral .parrafoExpl span {
  color: #d8b07b;
}

@media screen and (max-width: 992px) {
  .mTitle {
    margin: 40vh 5vh;
  }
  .titles {
    margin: 60px 60px;
  }
}
@media screen and (max-width: 576px) {
  .mTitle {
    margin: 55vh 5vh;
  }
  .titles {
    margin: 10px 30px;
  }
  .textoPrincipalgral {
    padding: 2rem !important;
  }
}
.wtsBttn {
  bottom: 3%;
  left: 95%;
  transition: transform 0.5s ease;
  overflow: hidden;
  height: 65px;
  width: 65px;
}

.wtsBttn:hover {
  transform: rotate(360deg) scale(1.2);
  background: radial-gradient(circle, #1ad03f, #1ad03f, white, white);
}

.wtsBttn a {
  display: block;
}

@media screen and (max-width: 576px) {
  .wtsBttn {
    display: none;
  }
}
.animate__fadeIn {
  --animate-duration: 2s;
}

.animate__fadeInBottomLeft {
  --animate-duration: 1s;
}

.animate__pulse {
  --animate-duration: 4s;
  animation-iteration-count: infinite;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right top, #d8b07b, #c9a576, #ba9a71, #ab906c, #9c8567);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
  opacity: 1;
  pointer-events: none;
  z-index: 9999;
}

.logo {
  width: 300px;
  height: 300px;
  background: url("../Assets/Img/Neko-San Logo.png") center/cover no-repeat;
  animation: logo 2.5s 0.2s linear 1 forwards, fade-out-logo 2.5s 2s forwards;
}

@keyframes logo {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes fade-out-overlay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out-logo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bgImageTop {
  background-image: url(../Assets/Img/inicio-top_message.webp);
  height: 50vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
  z-index: -3;
}

.txtPrincH {
  line-height: 2;
}

.mainImg1 {
  box-shadow: 15px 15px 24px 1px rgba(0, 0, 0, 0.75);
}

.mainImg2 {
  box-shadow: -15px 15px 24px 1px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 992px) {
  .mainImg1, .mainImg2 {
    height: 25rem;
  }
}
@media screen and (max-width: 576px) {
  .mainImg1, .mainImg2 {
    height: 24rem;
  }
}
@media screen and (max-width: 450px) {
  .mainImg1, .mainImg2 {
    height: 16rem;
  }
}
.btn-secondary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #9e887a;
  --bs-btn-border-color: #6c757d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5c636a;
  --bs-btn-hover-border-color: #565e64;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.textoPrivacidad {
  box-sizing: content-box;
  border: 3px dotted #d8b07b;
}
.textoPrivacidad .parrafoExpl {
  line-height: 1.5;
}

@media screen and (min-width: 577px) {
  .wtsBttn2 {
    display: none;
  }
}
.form-control {
  height: 100px;
}

.form-check-input:checked {
  background-color: #9e887a;
  border-color: #9e887a;
}

.form-check-input:focus {
  border-color: black;
  box-shadow: 0 0 0 0.25rem black;
}

.bgForm {
  box-sizing: content-box;
  background-color: #a89f98;
}

.cursor {
  cursor: pointer;
}

.social {
  margin: 5% 0;
}

@media screen and (max-width: 768px) {
  .mapF {
    height: 300px;
    width: 300px;
  }
}
/*------------Galeria Grid Responsive-------------*/
.image-container h3 {
  font-size: 3.3rem;
  color: #d8b07b;
}

@media screen and (min-width: 1200px) {
  .image-container {
    position: relative;
  }
  .image-container img {
    transition: filter 0.5s;
  }
  .image-container h3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
  }
  .image-container:hover img {
    filter: grayscale(100%);
  }
  .image-container:hover h3 {
    transition: 0.5s;
    color: #d8b07b;
    text-shadow: 1px -1px 14px rgba(0, 0, 0, 0.67);
  }
}
.galleryImg {
  box-shadow: 0px 0px 42px 9px rgba(0, 0, 0, 0.75);
}

.galleryMainSection {
  position: initial;
  display: grid;
  max-width: fit-content;
  max-height: fit-content;
  margin: 180px auto;
  grid-template-columns: repeat(5);
  grid-template-rows: repeat(5);
  grid-template-areas: ".   .   img1   .   ." ".  img2  .   img3  ." "img4 .   img9   . img5" ".  img6   .  img7  ." ".   .   img8   .   .";
}

.div1 {
  grid-area: img1;
}

.div2 {
  grid-area: img2;
}

.div3 {
  grid-area: img3;
}

.div4 {
  grid-area: img4;
}

.div5 {
  grid-area: img5;
}

.div6 {
  grid-area: img6;
}

.div7 {
  grid-area: img7;
}

.div8 {
  grid-area: img8;
}

.div9 {
  grid-area: img9;
}

@media screen and (max-width: 2000px) {
  .galleryImg {
    height: 400px;
    width: 300px;
  }
}
@media screen and (max-width: 1400px) {
  .galleryImg {
    height: 320px;
    width: 250px;
  }
}
@media screen and (max-width: 992px) {
  .galleryMainSection div {
    margin-right: 40px;
    margin-left: 40px;
    height: 480px;
    width: 310px;
  }
  .galleryImg {
    height: 400px;
    width: 300px;
  }
  .galleryMainSection {
    margin: 180px auto;
    grid-template-areas: "img1  img2" "img3  img4" "img5  img6" "img7  img8" "img9    . ";
  }
}
@media screen and (max-width: 768px) {
  .galleryMainSection div {
    height: 480px;
    width: 310px;
  }
  .galleryImg {
    height: 400px;
    width: 300px;
  }
  .galleryMainSection {
    margin: 180px auto;
    grid-template-columns: 1fr;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8" "img9";
  }
}
.accordion {
  --bs-accordion-active-color: #000000;
  --bs-accordion-active-bg: #d8b07ba0;
  --bs-accordion-btn-focus-border-color: #d8b07b;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #d8b07b;
}

.accordion-item {
  border: var(--bs-accordion-border-width) solid #d8b07b;
}

.accordion-button:focus {
  border-color: #d8b07b;
}

.aContacto {
  color: #9c8567;
}

.bgColor {
  background-color: rgba(174, 166, 163, 0.8392156863);
}

.brMain {
  border: 5px double #d8b07b;
  padding: 2.5% 1.5%;
  box-sizing: content-box;
}

.footer {
  background-image: url(../Assets/Img/footer_img.webp);
  min-height: 30vh;
  background-size: cover;
  background-position: center;
}
.footer .mbf {
  margin-bottom: 7rem;
}
.footer .aSize {
  display: inline-block;
  height: 60px;
  width: 60px;
}

@media screen and (max-width: 850px) {
  .fTxt, .mbf, .divF {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .fTxt {
    text-align: center;
  }
  .divF {
    margin-top: 4rem;
  }
}
.social-facebook :hover {
  background: #1877F2;
  transition: 0.5s;
}

.social-instagram :hover {
  background: linear-gradient(to right top, #fed52f, #ffb528, #ff9432, #ff7341, #ff5151, #ff3a63, #fd2176, #f5008c, #e800a6, #d207c1, #af2bdd, #7643f6);
  transition: 0.5s;
}

.social-youtube :hover {
  background: #FF0000;
  transition: 0.5s;
}

.soc-facebook {
  border-radius: 15%;
}

.soc-instagram {
  border-radius: 30%;
}

.soc-youtube {
  border-radius: 50%;
}

/*# sourceMappingURL=estilosOld.css.map */
