@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: black;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.animatedOverflow {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5.5px;
  background: rgba(0, 0, 0, 0.514);
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.514);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(#dfc292, #d8b07b);
  transition: scale 1s ease-in-out;
}

.bttnNav {
  background: rgba(0, 0, 0, 0.187);
  border: none;
  padding: 10px 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-21deg);
  border-radius: 2rem;
}

.bttnNav span {
  display: inline-block;
  color: #fbf8f1;
}

.bttnNav::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #fbf8f1;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
}

.bttnNav:hover span {
  color: black;
}

.bttnNav:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
  border-radius: 2rem;
}

.headerN {
  height: 70vh;
  background-size: cover;
  background-position: right;
}

@media screen and (max-width: 992px) {
  .headerN {
    background-position: center;
  }
  .headerSucursales, .headerContacto {
    background-position: right;
  }
}
.headerGaleria {
  background-image: url(../Assets/Img/Headers/headerGaleriaLarger.webp);
}

.headerSucursales {
  background-image: url(../Assets/Img/Headers/headerSucursalesLarger.webp);
}

.headerPreguntas {
  background-image: url(../Assets/Img/Headers/headerpreguntasLarger.webp);
}

.headerContacto {
  background-image: url(../Assets/Img/Headers/headerContactoLarger.webp);
}

@media screen and (max-width: 1920px) {
  .headerGaleria {
    background-image: url(../Assets/Img/Headers/headerGaleriaLarge.webp);
  }
  .headerSucursales {
    background-image: url(../Assets/Img/Headers/headerSucursalesLarge.webp);
  }
  .headerPreguntas {
    background-image: url(../Assets/Img/Headers/headerpreguntasLarge.webp);
  }
  .headerContacto {
    background-image: url(../Assets/Img/Headers/headerContactoLarge.webp);
  }
}
@media screen and (max-width: 580px) {
  .headerGaleria {
    background-image: url(../Assets/Img/Headers/headerGaleriaSmall.webp);
  }
  .headerSucursales {
    background-image: url(../Assets/Img/Headers/headerSucursalesSmall.webp);
  }
  .headerPreguntas {
    background-image: url(../Assets/Img/Headers/headerpreguntasSmall.webp);
  }
  .headerContacto {
    background-image: url(../Assets/Img/Headers/headerContactoSmall.webp);
  }
}
/* Estilos para el fondo del menú desplegable */
#checkbox {
  display: none;
}

.toggle {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  transition-duration: 0.5s;
}

@media screen and (min-width: 990px) {
  .toggle {
    display: none;
  }
}
.bars {
  width: 100%;
  height: 4px;
  background-color: #c88b47;
  border-radius: 4px;
}

#bar2 {
  transition-duration: 0.8s;
}

#bar1 {
  width: 50%;
}

#bar2 {
  width: 75%;
}

#checkbox:checked + .toggle .bars {
  position: absolute;
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar2 {
  transform: scaleX(0);
  transition-duration: 0.1s;
}

#checkbox:checked + .toggle #bar1 {
  width: 100%;
  transform: rotate(45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle #bar3 {
  width: 100%;
  transform: rotate(-45deg);
  transition-duration: 0.5s;
}

#checkbox:checked + .toggle {
  transition-duration: 0.5s;
  transform: rotate(180deg);
}

@media screen and (max-width: 991px) {
  .bttnNav {
    width: 100%;
    justify-content: center;
  }
  .bttnNav span {
    color: #fbf8f1;
  }
}
.headerVideo {
  filter: brightness(85%);
}

.titles, .subtitles, .mTitle {
  color: #d8b07b;
}

.titles {
  margin: 100px 100px;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}

.mTitle {
  margin: 25vh 5vh;
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
}

.textoPrincipalgral {
  box-sizing: content-box;
  border: 5px double #d8b07b;
  padding: 3rem;
  border-radius: 2rem;
  box-shadow: 0px 5px 15px 7px rgba(0, 0, 0, 0.25);
}

.parrafoExpl {
  line-height: 2;
}
.parrafoExpl span {
  color: #d8b07b;
}

.nekoLogo {
  transition: transform 0.5s ease-in-out;
}

.nekoLogo:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .mTitle {
    margin: 40vh 5vh;
  }
  .titles {
    margin: 60px 60px;
  }
}
@media screen and (max-width: 576px) {
  .mTitle {
    margin: 60vh 5vh;
  }
  .titles {
    margin: 10px 30px;
  }
  .textoPrincipalgral {
    padding: 2rem;
  }
}
.wtsBttn {
  bottom: 3%;
  left: 95%;
  transition: transform 0.5s ease;
  overflow: hidden;
  height: 65px;
  width: 65px;
}

.wtsBttn:hover {
  transform: rotate(360deg) scale(1.2);
  background: radial-gradient(circle, #1ad03f, #1ad03f, #1ad03f, white, white);
}

.wtsBttn a {
  display: block;
}

@media screen and (max-width: 576px) {
  .wtsBttn {
    display: none;
  }
}
.botonInicio {
  display: none;
}
.botonInicio .animArrow {
  animation: arrowAnimation 4s linear infinite;
}
.botonInicio span {
  width: 80px;
}

@keyframes arrowAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
}
@media screen and (min-width: 800px) {
  .botonInicio {
    display: flex;
    flex-direction: column;
  }
}
.animate__fadeIn {
  --animate-duration: 2s;
}

.animate__fadeInBottomLeft {
  --animate-duration: 1s;
}

.animate__pulse {
  --animate-duration: 4s;
  animation-iteration-count: infinite;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right top, #d8b07b, #c9a576, #ba9a71, #ab906c, #9c8567);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  pointer-events: none;
  z-index: 9999;
}

.logo {
  width: 300px;
  height: 300px;
  background: url("../Assets/Img/nekoSanLogo.png") center/cover no-repeat;
  animation: fade-in-logo 1.2s linear forwards, logo 2.5s 0.5s linear 1 forwards, fade-out-logo 2s 2s forwards;
}

@keyframes logo {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes fade-out-overlay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in-logo {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out-logo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.bgImageTop {
  background-image: url(../Assets/Img/inicioTopMessageLarge.webp);
  height: 50vh;
  width: 100%;
  background-size: cover;
  font-size: 2rem;
  background-position: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
  z-index: -3;
  border-radius: 20px;
}

@media screen and (max-width: 580px) {
  .bgImageTop {
    height: 60vh;
    width: 100%;
    background-image: url(../Assets/Img/inicioTopMessageSmall.webp);
  }
  .bgImageTop .parrafoExpl {
    line-height: 1.5;
  }
}
@media screen and (max-width: 1400px) {
  .bgImageTop {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 900px) {
  .bgImageTop {
    width: 75%;
    box-shadow: 0px 5px 15px 7px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 581px) {
  .bgImageTop {
    background-image: url(../Assets/Img/inicio-top_message.webp);
  }
}
.sectImg {
  margin-bottom: 8rem;
}

.mainImg1, .mainImg2 {
  border-radius: 2rem;
  box-shadow: 0px 5px 15px 7px rgba(0, 0, 0, 0.25);
  transform: perspective(1500px) rotateY(-15deg);
  transition: transform 1s ease 0s;
}
.mainImg1:hover, .mainImg2:hover {
  transform: perspective(3000px) rotateY(5deg);
}

.mainImg2 {
  transform: perspective(1500px) rotateY(15deg);
}

.btVideo {
  border-radius: 20px;
  box-shadow: 0px 5px 15px 7px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 580px) {
  .mainImg1, .mainImg2 {
    height: 253px;
    width: 380px;
  }
}
.btnGral {
  display: inline-block;
  width: 150px;
  height: 50px;
  border-radius: 2rem;
  border: 1px solid #9b5d33;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  font-weight: bold;
}

.btnGral::before, .btnGral::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.btnGral::before {
  left: -10px;
  background: #c88b47;
}

.btnGral::after {
  right: -10px;
  background: #d8b07b;
}

.btnGral:hover::before, .btnGral:hover::after {
  width: 58%;
}

.btnGral:hover span {
  color: black;
  transition: 0.3s;
}

.btnGral span {
  color: #9b5d33;
  font-size: 18px;
  transition: all 0.3s ease-in;
}

.textoPrivacidad {
  box-sizing: content-box;
  border: 3px dotted #d8b07b;
  border-radius: 2rem;
}
.textoPrivacidad .parrafoExpl {
  word-spacing: 1.5px;
  line-height: 1.5;
}

.parrafoExpl a {
  color: #d8b07b;
}

@media screen and (min-width: 577px) {
  .wtsBttn2 {
    display: none;
  }
}
.form-control {
  height: 100px;
}

.form-check-input:checked {
  background-color: #ba763c;
  border-color: #ba763c;
}

.form-check-input:focus {
  border-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25);
}

.bgForm {
  box-sizing: content-box;
  background-color: #a89f98;
  border-radius: 2rem;
  box-shadow: 0px 5px 15px 7px rgba(0, 0, 0, 0.25);
}

.cursor {
  cursor: pointer;
}

.formularioBttn {
  font-family: inherit;
  font-size: 18px;
  background: linear-gradient(to bottom, #dfc292 0%, #c88b47 100%);
  color: white;
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.formularioBttn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.formularioBttn:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.formularioBttn span {
  display: block;
  margin-left: 0.4em;
  transition: all 0.3s;
}

.formularioBttn svg {
  width: 18px;
  height: 18px;
  fill: white;
  transition: all 0.3s;
}

.formularioBttn .svg-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0.5em;
  transition: all 0.3s;
}

.formularioBttn:hover .svg-wrapper {
  background-color: rgba(255, 255, 255, 0.5);
}

.formularioBttn:hover svg {
  transform: rotate(45deg);
}

.social {
  margin: 5% 0;
}

@media screen and (max-width: 768px) {
  .mapF {
    height: 300px;
    width: 300px;
  }
}
/*------------Galeria Grid Responsive-------------*/
.image-container h3 {
  font-size: 3.3rem;
  color: #d8b07b;
}

@media screen and (min-width: 1200px) {
  .image-container {
    position: relative;
  }
  .image-container img {
    transition: filter 0.5s;
  }
  .image-container h3 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent;
  }
  .image-container:hover img {
    filter: grayscale(100%);
  }
  .image-container:hover h3 {
    transition: 0.5s;
    color: #d8b07b;
    text-shadow: 1px -1px 14px rgba(0, 0, 0, 0.67);
  }
}
.galleryImg {
  box-shadow: 0px 5px 15px 9px rgba(0, 0, 0, 0.35);
}

.galleryMainSection {
  position: initial;
  display: grid;
  max-width: fit-content;
  max-height: fit-content;
  margin: 180px auto;
  grid-template-columns: repeat(5);
  grid-template-rows: repeat(5);
  grid-template-areas: ".   .   img1   .   ." ".  img2  .   img3  ." "img4 .   img9   . img5" ".  img6   .  img7  ." ".   .   img8   .   .";
}

.div1 {
  grid-area: img1;
}

.div2 {
  grid-area: img2;
}

.div3 {
  grid-area: img3;
}

.div4 {
  grid-area: img4;
}

.div5 {
  grid-area: img5;
}

.div6 {
  grid-area: img6;
}

.div7 {
  grid-area: img7;
}

.div8 {
  grid-area: img8;
}

.div9 {
  grid-area: img9;
}

@media screen and (max-width: 2000px) {
  .galleryImg {
    height: 400px;
    width: 300px;
  }
}
@media screen and (max-width: 1400px) {
  .galleryImg {
    height: 320px;
    width: 250px;
  }
}
@media screen and (max-width: 992px) {
  .galleryMainSection div {
    margin-right: 40px;
    margin-left: 40px;
    height: 480px;
    width: 310px;
  }
  .galleryImg {
    height: 400px;
    width: 300px;
  }
  .galleryMainSection {
    margin: 180px auto;
    grid-template-areas: "img1  img2" "img3  img4" "img5  img6" "img7  img8" "img9    . ";
  }
}
@media screen and (max-width: 768px) {
  .galleryMainSection div {
    height: 480px;
    width: 310px;
  }
  .galleryImg {
    height: 400px;
    width: 300px;
  }
  .galleryMainSection {
    margin: 180px auto;
    grid-template-columns: 1fr;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6" "img7" "img8" "img9";
  }
}
.accordion {
  --bs-accordion-active-color: #000000;
  --bs-accordion-active-bg: #d8b07ba0;
  --bs-accordion-btn-focus-border-color: #d8b07b;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #d8b07b;
}

.accordion-item {
  border: var(--bs-accordion-border-width) solid #d8b07b;
}

.accordion-button:focus {
  border-color: #d8b07b;
}

.aContacto {
  color: #ba763c;
}

.bgColor {
  background-color: rgba(174, 166, 163, 0.8392156863);
}

.brMain {
  margin: 5rem auto;
  border: 5px double #d8b07b;
  padding: 2.5% 1.5%;
  box-sizing: content-box;
  border-radius: 2rem;
  box-shadow: 0px 5px 15px 7px rgba(0, 0, 0, 0.25);
}

.footer {
  background-image: url(../Assets/Img/footerImgLarger.webp);
  min-height: 30vh;
  background-size: cover;
  background-position: center;
}
.footer .mbf {
  margin-bottom: 7rem;
  justify-content: space-between;
}
.footer .aSize {
  display: inline-block;
  height: 60px;
  width: 60px;
}

@media screen and (max-width: 1920px) {
  .footer {
    background-image: url(../Assets/Img/footerImgLarge.webp);
  }
}
@media screen and (max-width: 580px) {
  .footer {
    background-image: url(../Assets/Img/footerImgSmall.webp);
  }
}
@media screen and (max-width: 850px) {
  .fTxt, .divF {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .fTxt {
    text-align: center;
  }
  .divF {
    margin-top: 4rem;
  }
}
@media screen and (max-width: 576px) {
  .footer .mbf {
    justify-content: center;
  }
}
.body404 {
  background-color: bisque;
}

.main404 {
  margin: 121px 0;
}

@media screen and (max-width: 580px) {
  .responsive {
    width: 120PX;
    height: 120px;
  }
}
.footer404 {
  min-height: 5vh;
}

.social-facebook :hover {
  background: #1877F2;
  transform: scale(1.1);
}

.social-instagram :hover {
  background: linear-gradient(to right top, #fed52f, #ffb528, #ff9432, #ff7341, #ff5151, #ff3a63, #fd2176, #f5008c, #e800a6, #d207c1, #af2bdd, #7643f6);
  transform: scale(1.1);
}

.social-youtube :hover {
  background: #FF0000;
  transform: scale(1.1);
}

.soc-facebook {
  border-radius: 15%;
  transition: background 0.2s linear, transform 0.8s ease-in-out;
}

.soc-instagram {
  border-radius: 30%;
  transition: background 0.2s linear, transform 0.8s ease-in-out;
}

.soc-youtube {
  border-radius: 50%;
  transition: background 0.2s linear, transform 0.8s ease-in-out;
}

/*# sourceMappingURL=estilosOld.css.map */
