.footer{
    background-image: url(../Assets/Img/footer_img.jpg);
    min-height: 30vh;
    background-size: $contentStyleCover;
    background-position: map-get($positions , centro );
    .mbf{
        margin-bottom: 7rem;
    }
    .contB{
        box-sizing: content-box;
    }
}
@media screen and (max-width:576px) {
    .icoSm{
        width: auto;
        height: 18vh;
    }
}