.footer{
    background-image: url(../Assets/Img/footer_img.webp);
    min-height: 30vh;
    background-size: $contentStyleCover;
    background-position: map-get($positions , centro );
    .mbf{
        margin-bottom: 7rem;
        justify-content: space-between;
    }
    .aSize{
        display: inline-block;
        @include altoAncho (60px, 60px);
    }
}
@media screen and (max-width:850px) {
    .fTxt, .divF{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .fTxt{
        text-align: center;
    }
    .divF{
        margin-top: 4rem;
    }
}
@media screen and (max-width:576px){
    .footer{
        .mbf{
            justify-content: center;
        }
    }
}