.nav-link:hover, .nav-link:focus {
    color: $primaryColor;
  }
.listItems{
    border-right: 2px $borderStyle $terciaryColor;
}
@media screen and (max-width:992px){
    .listItems{
        border: 0;
    }
    
}
.headerN{
    height: 70vh;
    background-size: $contentStyleCover;
    background-position:map-get($positions , derecha ) ;
}
@media screen and (max-width:992px){
    .headerN{
    background-position:map-get($positions , centro );
    }
    .headerSucursales, .headerContacto{
    background-position:map-get($positions , derecha );
    }
}
.headerGaleria{
    background-image: url(../Assets/Img/Headers/headerGaleriaLarger.webp);
}
.headerSucursales{
    background-image: url(../Assets/Img/Headers/headerSucursalesLarger.webp);
}
.headerPreguntas{
    background-image: url(../Assets/Img/Headers/headerpreguntasLarger.webp)
}
.headerContacto{
    background-image: url(../Assets/Img/Headers/headerContactoLarger.webp);
}
@media screen and (max-width:1920px) {
    .headerGaleria{
        background-image: url(../Assets/Img/Headers/headerGaleriaLarge.webp);
    }
    .headerSucursales{
        background-image: url(../Assets/Img/Headers/headerSucursalesLarge.webp);
    }
    .headerPreguntas{
        background-image: url(../Assets/Img/Headers/headerpreguntasLarge.webp)
    }
    .headerContacto{
        background-image: url(../Assets/Img/Headers/headerContactoLarge.webp);
    }
}
@media screen and (max-width:580px) {
    .headerGaleria{
        background-image: url(../Assets/Img/Headers/headerGaleriaSmall.webp);
    }
    .headerSucursales{
        background-image: url(../Assets/Img/Headers/headerSucursalesSmall.webp);
    }
    .headerPreguntas{
        background-image: url(../Assets/Img/Headers/headerpreguntasSmall.webp)
    }
    .headerContacto{
        background-image: url(../Assets/Img/Headers/headerContactoSmall.webp);
    }
}

/* Estilos para el fondo del menú desplegable */

@media screen and (max-width:991px){
    .navbar-collapse{
        background-color: rgba(0, 0, 0, 0.187);
    }
    .nav-link{
        color: #ffffff;
    }
    
}
.headerVideo{
    filter: brightness(85%);
}