.nav-link:hover, .nav-link:focus {
    color: $primaryColor;
  }
.listItems{
    border-right: 2px $borderStyle $terciaryColor;
}
@media screen and (max-width:992px){
    .listItems{
        border: 0;
    }
    
}
.headerN{
    height: 70vh;
    background-size: $contentStyleCover;
    background-position:map-get($positions , derecha ) ;
}
@media screen and (max-width:992px){
    .headerN{
    background-position:map-get($positions , centro );
    }
    .headerSucursales, .headerContacto{
    background-position:map-get($positions , derecha );
    }
}
.headerGaleria{
    background-image: url(../Assets/Img/Headers/headergaleriasmall.webp);
}
.headerSucursales{
    background-image: url(../Assets/Img/Headers/headerSucursalesSmall.webp);
}
.headerPreguntas{
    background-image: url(../Assets/Img/Headers/headerPreguntasSmall.webp)
}
.headerContacto{
    background-image: url(../Assets/Img/Headers/headercontactosmall.webp);
}
@media screen and (min-width:651px) {
    .headerGaleria{
        background-image: url(../Assets/Img/Headers/headergaleriamedium.webp);
    }
    .headerSucursales{
        background-image: url(../Assets/Img/Headers/headerSucursalesMedium.webp);
    }
    .headerPreguntas{
        background-image: url(../Assets/Img/Headers/headerPreguntasMedium.webp)
    }
    .headerContacto{
        background-image: url(../Assets/Img/Headers/headercontactomedium.webp);
    }
}
@media screen and (min-width:1200px) {
    .headerGaleria{
        background-image: url(../Assets/Img/Headers/headergalerialarge.webp);
    }
    .headerSucursales{
        background-image: url(../Assets/Img/Headers/headerSucursalesLarge.webp);
    }
    .headerPreguntas{
        background-image: url(../Assets/Img/Headers/headerpreguntaslarge.webp)
    }
    .headerContacto{
        background-image: url(../Assets/Img/Headers/headercontactolarge.webp);
    }
}
@media screen and (min-width:2000px) {
    .headerGaleria{
        background-image: url(../Assets/Img/Headers/headergalerialarger.webp);
    }
    .headerSucursales{
        background-image: url(../Assets/Img/Headers/headerSucursalesLarger.webp);
    }
    .headerPreguntas{
        background-image: url(../Assets/Img/Headers/headerpreguntaslarger.webp)
    }
    .headerContacto{
        background-image: url(../Assets/Img/Headers/headercontactolarger.webp);
    }
}

/* Estilos para el fondo del menú desplegable */

@media screen and (max-width:991px){
    .navbar-collapse{
        background-color: rgba(0, 0, 0, 0.187);
    }
    .nav-link{
        color: #ffffff;
    }
    
}
.headerVideo{
    filter: brightness(85%);
}