.textoPrivacidad{
    box-sizing: content-box;
    border:3px dotted $primaryColor;
    .parrafoExpl{
        line-height: 1.5;
    }
}
@media screen and (min-width:577px) { 
    .wtsBttn2{
        display:none;
    }
}
.form-control{
    height: 100px
}
.form-check-input:checked {
    background-color: $brownColor;
    border-color: $brownColor;
}
.form-check-input:focus {
    border-color: $terciaryColor;
    box-shadow: 0 0 0 0.25rem $terciaryColor;
}
.bgForm{
    box-sizing: content-box;
    background-color: #a89f98;
}
.cursor{
    cursor:pointer;
}
.social{
    margin: 5% 0;
}