// Animacion de Logo al entrar a la pagina
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, #d8b07b, #c9a576, #ba9a71, #ab906c, #9c8567);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    pointer-events: none;
    z-index: 9999;
}
.logo {
    width: 300px;
    height: 300px;
    background: url('../Assets/Img/nekoSanLogo.png') center/cover no-repeat;
    animation: fade-in-logo 1.2s linear forwards , logo 2.5s 0.5s linear 1 forwards, fade-out-logo 2s 2s forwards;
}
@keyframes logo {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes fade-out-overlay {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fade-in-logo {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade-out-logo {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
//----------------------------------------------------------------

.bgImageTop{
    background-image: url(../Assets/Img/inicioTopMessageLarge.webp);
    @include altoAncho (50vh, 100%);
    background-size:$contentStyleCover;
    font-size: 2rem;
    background-position:center;
    margin-top: 2rem;
    margin-bottom: 10rem;
    z-index: -3;
    border-radius: 20px;
}
@media screen and (max-width:580px){
    .bgImageTop{
        @include altoAncho (60vh, 100%);
        background-image: url(../Assets/Img/inicioTopMessageSmall.webp);
        .parrafoExpl{
            line-height: 1.5;
        }
    }
}
@media screen and (max-width:1400px) {
    .bgImageTop{
        font-size: 1.5rem;
    }
}
@media screen and (min-width:900px){
    .bgImageTop{
        width: 75%;
        box-shadow: 0px 5px 15px 7px rgba(0,0,0,0.25);
    }
}
@media screen and (min-width:581px){
    .bgImageTop{
        background-image: url(../Assets/Img/inicio-top_message.webp);
    }
}
.sectImg{
    margin-bottom: 8rem;
}
.mainImg1, .mainImg2{
    border-radius: 2rem;
    box-shadow: 0px 5px 15px 7px rgba(0,0,0,0.25);
    transform: perspective(1500px) rotateY(-15deg);
    transition: transform 1s ease 0s;
    &:hover {
        transform: perspective(3000px) rotateY(5deg);
    }
}
.mainImg2{
    transform: perspective(1500px) rotateY(15deg);
}
.btVideo{
    border-radius: 20px;
    box-shadow: 0px 5px 15px 7px rgba(0,0,0,0.25);
}
@media screen and (max-width:580px){
    .mainImg1, .mainImg2{
        height: 253px;
        width: 380px;
    }
}
.btnGral {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 2rem;
    border: 1px solid $color-700;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    font-weight: bold;
}
.btnGral::before, .btnGral::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
}
.btnGral::before {
    left: -10px;
    background: $color-500;
}
.btnGral::after {
    right: -10px;
    background: $color-400;
}
.btnGral:hover::before, .btnGral:hover::after {
    width: 58%;
}
.btnGral:hover span {
    color: $terciaryColor;
    transition: 0.3s;
}
.btnGral span {
    color: $color-700;
    font-size: 18px;
    transition: all 0.3s ease-in;
}