.accordion{
    --bs-accordion-active-color: #000000;
    --bs-accordion-active-bg: #d8b07ba0;
    --bs-accordion-btn-focus-border-color: #d8b07b;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #d8b07b;
}
.accordion-item{
    border: var(--bs-accordion-border-width) solid #d8b07b;
}
.accordion-button:focus {
    border-color: $primaryColor;
}
.aContacto{
    color: $secundaryColor;
}
.bgColor{
    background-color: #aea6a3d6;
}
.brMain{
    border:5px double $primaryColor;
    padding: 2.5% 1.5%;
    box-sizing: content-box;
}