.accordion{
    --bs-accordion-active-color: #000000;
    --bs-accordion-active-bg: #d8b07ba0;
    --bs-accordion-btn-focus-border-color: #d8b07b;
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem #d8b07b;
}
.accordion-item{
    border: var(--bs-accordion-border-width) solid #d8b07b;
}
.accordion-button:focus {
    border-color: $color-400;
}
.aContacto{
    color: $color-600;
}
.bgColor{
    background-color: #aea6a3d6;
}
.brMain{
    margin: 5rem auto;
    border:5px double $color-400;
    padding: 2.5% 1.5%;
    box-sizing: content-box;
    border-radius: 2rem;
    box-shadow: 0px 5px 15px 7px rgba(0,0,0,0.25);
}