.titles{
    color: $primaryColor;
    margin:100px 100px;
}
.subtitles{
    color: $secundaryColor;
}
.mTitle{
    color: $primaryColor;
    margin:25vh 5vh;
}
.textoPrincipalgral{
    box-sizing: content-box;
    border:5px double $primaryColor;
    .parrafoExpl{
        line-height: 2;
        span{
            color: $primaryColor;
        }
    }
}
@media screen and (max-width:992px){
    .mTitle{
        margin: 40vh 5vh;
    }
    .titles{
        margin: 60px 60px;
    }
}
@media screen and (max-width:576px){
    .mTitle{
        margin: 55vh 5vh;
    }
    .titles{
        margin: 10px 30px;
    }
    .textoPrincipalgral {
        padding: 2rem !important;
    }
}
.wtsBttn{
    bottom: 3%;
    left: 95%;
    transition: transform 0.5s ease;
    overflow: hidden;
    @include altoAncho (65px,65px)
}
.wtsBttn:hover {
    transform: rotate(360deg) scale(1.2);
    background:radial-gradient(circle, #1ad03f,#1ad03f ,white, white);
}
.wtsBttn a {
    display: block; 
}
@media screen and (max-width:576px) {
    .wtsBttn{
        display: none;
    }
}