.body404{
    background-color: bisque;
}
.main404{
    margin: 121px 0;
}
@media screen and (max-width:580px) {
    .responsive{
        width: 120PX;
        height: 120px;
    }
}
.footer404{
    min-height: 5vh;
}