// Animacion de Logo al entrar a la pagina
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right top, #d8b07b, #c9a576, #ba9a71, #ab906c, #9c8567);;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
    opacity: 1;
    pointer-events: none;
    z-index: 9999;
}
.logo {
    width: 300px;
    height: 300px;
    background: url('../Assets/Img/Neko-San Logo.png') center/cover no-repeat;
    animation: logo 2.5s 0.2s linear 1 forwards, fade-out-logo 2.5s 2s forwards;
}
@keyframes logo {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes fade-out-overlay {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
@keyframes fade-out-logo {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
//----------------------------------------------------------------

.bgImageTop{
    background-image: url(../Assets/Img/inicio-top_message.webp);
    @include altoAncho (50vh, 100%);
    background-size:$contentStyleCover;
    background-position:center;
    margin-top: 6rem;
    margin-bottom: 6rem;
    z-index: -3;
}
.txtPrincH{
    line-height: 2;
}
.mainImg1{
    box-shadow: 15px 15px 24px 1px rgba(0,0,0,0.75);
}
.mainImg2{
    box-shadow: -15px 15px 24px 1px rgba(0,0,0,0.75);
}
@media screen and (max-width:992px){
    .mainImg1, .mainImg2{
        height: 25rem;
    }
}
@media screen and (max-width:576px){
    .mainImg1, .mainImg2{
        height: 24rem;
    }
}
@media screen and (max-width:450px){
    .mainImg1, .mainImg2{
        height: 16rem;
    }
}
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #9e887a;
    --bs-btn-border-color: #6c757d;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5c636a;
    --bs-btn-hover-border-color: #565e64;
    --bs-btn-focus-shadow-rgb: 130, 138, 145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #565e64;
    --bs-btn-active-border-color: #51585e;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}