*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: $borderStyle;
    border-width: 0;
}
body{
    font-family: $fontFamily;
    color:$terciaryColor;
}
p{
    margin-bottom: 0;
}