$primaryColor: #d8b07b;
$secundaryColor: #9c8567;
$terciaryColor: black;
$brownColor: #9e887a;
$fontFamily:'Noto Sans', sans-serif;
$borderStyle: solid;
$contentStyleCover: cover;

$positions: (
    centro: center,
    derecha: right,
    izquierda: left,
    bottom: bottom,
);

$colors: (
    facebook: #1877F2,
    instagram: #E4405F,
    youtube: #FF0000,
);

$borderRadius: (
    facebook: 15%,
    instagram: 30%,
    youtube: 50%,
);
